@mixin btnGeneral{
    transition: all 200ms ease;
    color: white;
    border: none;
    outline: none;
    &.active{
        opacity: 1;
    }
}

@mixin btnHover{
    &:hover:not(.inactive){
        i{
            text-shadow: 0 0 2px white;
            opacity: 1;
        }

    }
}